html {
    background-color: var(--bg-cnt);
    color: var(--bor-color);
}
html * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

.dev {
    padding: 2%;
}


/* HEADER */
body > header {
    height: max-content;
    padding: 2%;
    background-color: #1b1515;
}

body > header nav {
    margin-top: 4%;
}
body > header ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

body > header button {
    /* margin: 2%; */
    background-color: transparent;
    border: none;
    /* border-bottom: var(--bor); */
    color: var(--bor-color);
}
body > header button:hover {
    border-bottom: var(--bor);
}
.activ-button {
    border-bottom: var(--bor);
}


/* ROOT */
#root {
    padding: 40px;
}
#root > header {
    padding: 2% 0;
    margin-bottom: 2%;
    width: 300px;
}