html {
    background-color: rgb(34, 29, 29);
}

html * {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
#root {
    padding: 2%;
}
body > header {
    height: 60px;
    background-color: rgb(27, 21, 21);
}
/* section {
    border-radius: 2px; 
    background-color: rgb(53, 45, 45);
    border: 1px solid grey;
    color: grey;
    padding: 5px;
    display: flex;
} */
